<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209388780377-541p0vmclek6vt3d8r8djirjlousiblc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209388780377-541p0vmclek6vt3d8r8djirjlousiblc</string>
	<key>API_KEY</key>
	<string>AIzaSyA2ovI1c5ltgjsX1c0nimKNhF1rVhPbEKw</string>
	<key>GCM_SENDER_ID</key>
	<string>209388780377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasksManagement</string>
	<key>PROJECT_ID</key>
	<string>tasks-managment-15bb4</string>
	<key>STORAGE_BUCKET</key>
	<string>tasks-managment-15bb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209388780377:ios:505c58ded7e7bcdc85aa48</string>
</dict>
</plist>